.info {
    display: flex;
    justify-content: space-between;
    height: 420px;
    width: 80px;
    margin-left: 10px;
}
.w-view {
    flex-direction: column-reverse;
}
.b-view {
    flex-direction: column;
}
.playing {
    background-color: rgb(192,209,142) !important;
}