.room {
    display: flex;
    flex-direction: row;
}
.board {
    border: solid 4px rgb(185,5,9);
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.actions {
    padding-top: 10px;
    padding-bottom: 10px;
}
.check {
    box-shadow: 0px 0px 25px red;
}
.row {
    display: flex; 
    flex-direction: row;
}
.cell {
    width: 50px;
    height: 50px;
    border: solid 1px rgb(185,5,9);
    background-repeat: no-repeat;
    background-position: center;
}
.light {
    background-color: rgb(253,224,180);
}
.dark {
    background-color: rgb(219,160,116);
}
.f-move {
    background-color: lightskyblue !important;
}
.l-move {
    background-color: lightblue;
}
.cor-pieces {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cell-cor-pieces {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.b-bishop {
    background-image: url(../themes/default/b_bishop.png);
}
.b-king {
    background-image: url(../themes/default/b_king.png);
}
.b-knight {
    background-image: url(../themes/default/b_knight.png);
}
.b-pawn {
    background-image: url(../themes/default/b_pawn.png);
    background-position-y: -3px;
}
.b-queen {
    background-image: url(../themes/default/b_queen.png);
}
.b-rook {
    background-image: url(../themes/default/b_rook.png);
}

.w-bishop {
    background-image: url(../themes/default/w_bishop.png);
}
.w-king {
    background-image: url(../themes/default/w_king.png);
}
.w-knight {
    background-image: url(../themes/default/w_knight.png);
}
.w-pawn {
    background-image: url(../themes/default/w_pawn.png);
    background-position-y: -3px;
}
.w-queen {
    background-image: url(../themes/default/w_queen.png);
}
.w-rook {
    background-image: url(../themes/default/w_rook.png);
}
.gameover {
    width: 170px !important;
    margin: 10px 0 -16px 128px;
}